Repository adibarra/fintasy, changes with the labels that .github/labeler.yml gives for each.
All labels: type/ci-env, type/dependencies, type/docs

.github/labeler.yml:

type/ci-env:
  - '.devcontainer/**/*'
  - '.github/**/*'
  - '.vscode/**/*'
  - '**/.gitignore'
  - '**/tsconfig.json'
  - .editorconfig
  - .gitattributes
  - .nvmrc
  - eslint.config.js
  - pnpm-workspace.yaml

type/dependencies:
  - '**/package.json'
  - '**/pnpm-lock.yaml'
  - '**/requirements.txt'

type/docs:
  - 'docs/**/*'
  - '**/README.md'
  - LICENSE

remove dependabot
  .github/dependabot.yml
Labels: type/ci-env

add some useful links
  packages/client/README.md
Labels: type/docs

try to improve reuse experience
  .devcontainer/devcontainer.json
Labels: type/ci-env

clarify how to reattach devcontainer
  README.md
Labels: type/docs

add some polish
  README.md
Labels: type/docs

update main package name and description
  package.json
Labels: type/dependencies

update site name
  packages/client/index.html
  packages/client/src/pages/index.vue
Labels: none

update repo name
  .devcontainer/devcontainer.json
Labels: type/ci-env

update readme
  README.md
Labels: type/docs

update design docs
  docs/design/backend.md
Labels: type/docs

remove unused
  packages/server/src/services/detector.py
Labels: none

remove references to ml model
  docs/index.md
Labels: type/docs

clean up project description
  README.md
Labels: type/docs

add prototype sketch
  docs/assets/prototype-1.png
  docs/assets/prototype.excalidraw
Labels: type/docs

add excalidraw to recommended extensions
  .vscode/extensions.json
Labels: type/ci-env

fix typo
  .devcontainer/devcontainer.json
Labels: type/ci-env

add excalidraw to devcontainer
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  .vscode/settings.json
Labels: type/ci-env

add desktop prototype
  docs/assets/prototype.excalidraw
Labels: type/docs

add prototypes to docs
  docs/assets/proto/dashboard.excalidraw
  docs/assets/proto/database.excalidraw
  docs/assets/prototype-1.png
Labels: type/docs

update design assets
  docs/assets/proto/dashboard.excalidraw
  docs/assets/proto/database.excalidraw
  docs/assets/prototype.excalidraw
  docs/assets/prototypes/dashboard-desktop.excalidraw.png
  docs/assets/prototypes/dashboard-mobile.excalidraw.png
  docs/assets/prototypes/database.excalidraw.png
  docs/assets/prototypes/templates.excalidraw.png
Labels: type/docs

move assets to svg container
  docs/assets/prototypes/dashboard-desktop.excalidraw.png
  docs/assets/prototypes/dashboard-desktop.excalidraw.svg
  docs/assets/prototypes/dashboard-mobile.excalidraw.png
  docs/assets/prototypes/dashboard-mobile.excalidraw.svg
  docs/assets/prototypes/database.excalidraw.png
  docs/assets/prototypes/database.excalidraw.svg
  docs/assets/prototypes/templates.excalidraw.png
  docs/assets/prototypes/templates.excalidraw.svg
Labels: type/docs

convert assets back into embedded raster
  docs/assets/prototypes/dashboard-desktop.excalidraw.png
  docs/assets/prototypes/dashboard-desktop.excalidraw.svg
  docs/assets/prototypes/dashboard-mobile.excalidraw.png
  docs/assets/prototypes/dashboard-mobile.excalidraw.svg
  docs/assets/prototypes/database.excalidraw.png
  docs/assets/prototypes/database.excalidraw.svg
  docs/assets/prototypes/templates.excalidraw.png
  docs/assets/prototypes/templates.excalidraw.svg
Labels: type/docs

fix formatting
  docs/assets/prototypes/database.excalidraw.png
Labels: type/docs

begin designing api
  .vscode/settings.json
  docs/assets/swagger.yaml
Labels: type/ci-env, type/docs

redirect api docs to swagger file
  docs/design/api.md
Labels: type/docs

add comments
  packages/server/src/config.py
Labels: none

add swagger previewer extension to devcontainer
  .devcontainer/devcontainer.json
  .vscode/settings.json
Labels: type/ci-env

swagger docs add description
  docs/assets/swagger.yaml
Labels: type/docs

add editing hint
  docs/assets/swagger.yaml
Labels: type/docs

run linter
  docs/assets/swagger.yaml
Labels: type/docs

add auth route
  docs/assets/swagger.yaml
Labels: type/docs

rename schemas
  docs/assets/swagger.yaml
Labels: type/docs

add missing comment
  docs/assets/swagger.yaml
Labels: type/docs

begin implementing accounts endpoint
  docs/assets/swagger.yaml
Labels: type/docs

implement changing account name
  docs/assets/swagger.yaml
Labels: type/docs

add delete accounts
  docs/assets/swagger.yaml
Labels: type/docs

add transactions endpoints
  docs/assets/swagger.yaml
Labels: type/docs

clean up schemas
  docs/assets/swagger.yaml
Labels: type/docs

add quotes endpoint
  docs/assets/swagger.yaml
Labels: type/docs

add premium balance to user
  docs/assets/swagger.yaml
Labels: type/docs
