Repository adibarra/fintasy, changes with the labels that .github/labeler.yml gives for each.
All labels: type/ci-env, type/dependencies, type/docs

flush all print statements
  packages/server/src/config.py
  packages/server/src/main.py
  packages/server/src/services/database/database.py
  packages/server/src/services/database/mixins/meta.py
  packages/server/src/services/database/mixins/portfolios.py
  packages/server/src/services/database/mixins/sessions.py
  packages/server/src/services/database/mixins/tournaments.py
  packages/server/src/services/database/mixins/transactions.py
  packages/server/src/services/database/mixins/users.py
Labels: none

add fastapi dependency
  packages/server/requirements.txt
Labels: type/dependencies

use router instead of app
  packages/server/src/routes/api/v1/userRoutes.py
Labels: none

remove nop
  packages/server/src/routes/api/v1/portfolioRoutes.py
Labels: none

update userRoutes
  .vscode/settings.json
  packages/server/src/routes/api/v1/userRoutes.py
Labels: type/ci-env

update authentication func
  packages/server/src/routes/api/v1/userRoutes.py
Labels: none

add server for fastapi routes
  .vscode/settings.json
  packages/server/requirements.txt
  packages/server/src/config.py
  packages/server/src/main.py
  packages/server/src/routes/api/v1/users.py
Labels: type/ci-env, type/dependencies

update authentication to not require object uuids
  packages/server/src/routes/api/v1/portfolioRoutes.py
  packages/server/src/routes/api/v1/transactions.py
  packages/server/src/routes/api/v1/users.py
Labels: none

add routes to router
  packages/server/src/main.py
  packages/server/src/routes/api/v1/portfolios.py
  packages/server/src/routes/api/v1/quotes.py
  packages/server/src/routes/api/v1/tournaments.py
Labels: none

fix auth func
  packages/server/src/routes/api/v1/transactions.py
Labels: none

use other transaction routes
  packages/server/src/routes/api/v1/transactionRoutes.py
Labels: none

fix authenticate func
  packages/server/src/routes/api/v1/users.py
Labels: none

Final updates to the routes branch(?)
  packages/server/src/helpers/quote.py
  packages/server/src/routes/api/v1/portfolioRoutes.py
  packages/server/src/routes/api/v1/quoteRoutes.py
  packages/server/src/routes/api/v1/tournamentRoutes.py
  packages/server/src/routes/api/v1/transactionsRoutes.py
Labels: none

fix db calls
  packages/server/src/routes/api/v1/transactions.py
Labels: none

fix sdk not returning errors
  packages/client/src/composables/api.ts
Labels: none

add get_user_by_email database operation
  packages/server/src/services/database/mixins/users.py
Labels: none

finish implementing sessions and users routes
  packages/server/src/routes/api/v1/sessions.py
  packages/server/src/routes/api/v1/users.py
  packages/server/src/services/database/mixins/sessions.py
Labels: none

initial implementation of transactions routes
  packages/server/src/routes/api/v1/transactions.py
  packages/server/src/routes/api/v1/transactionsRoutes.py
  packages/server/src/services/database/mixins/transactions.py
Labels: none

fix headers
  packages/server/src/routes/api/v1/portfolioRoutes.py
Labels: none

Refactored the login and regiester pages to make it easier to read and understand the code. Also added a new form component for the register page.
  packages/client/src/pages/login.vue
  packages/client/src/pages/register.vue
Labels: none

update portfolio routes
  packages/server/src/helpers/portfolio.py
  packages/server/src/routes/api/v1/portfolio.py
Labels: none

formatting
  packages/server/src/routes/api/v1/quoteRoutes.py
  packages/server/src/routes/api/v1/sessions.py
  packages/server/src/routes/api/v1/transactions.py
  packages/server/src/routes/api/v1/users.py
Labels: none

Login and Register Semi-Complete
  packages/client/locales/en.yml
  packages/client/src/pages/register.vue
  packages/client/src/typed-router.d.ts
Labels: none

fixed issues with portfolio routes
  packages/server/src/routes/api/v1/portfolioRoutes.py
Labels: none

rename quote routes
  packages/server/src/routes/api/v1/quote.py
Labels: none

authenticate return two strings
  packages/server/src/routes/api/v1/portfolio.py
  packages/server/src/routes/api/v1/quote.py
  packages/server/src/routes/api/v1/sessions.py
  packages/server/src/routes/api/v1/tournament.py
  packages/server/src/routes/api/v1/transactions.py
  packages/server/src/routes/api/v1/users.py
Labels: none

fix imports
  packages/server/src/routes/api/v1/quoteRoutes.py
Labels: none

Completed design of Login/Registration page. Stlll need to implement verification...
  packages/client/src/pages/register.vue
Labels: none

refactor query params into class
  packages/server/src/routes/api/v1/quoteRoutes.py
Labels: none

fix switched vars
  packages/server/src/routes/api/v1/portfolioRoutes.py
Labels: none

update quoteRoutes
  packages/server/src/routes/api/v1/quoteRoutes.py
Labels: none

updated tournament branch to have requested functionality
  packages/server/src/helpers/portfolio.py
  packages/server/src/helpers/tournament.py
Labels: none

transaction routes
  packages/server/src/routes/api/v1/transactionRoutes.py
Labels: none

add review comments
  packages/server/src/routes/api/v1/portfolioRoutes.py
Labels: none

add get_portfolios
  packages/server/src/services/database/mixins/portfolios.py
Labels: none

clean up error handling
  packages/server/src/main.py
  packages/server/src/routes/api/v1/users.py
Labels: none

clean up tournament routes
  packages/server/src/routes/api/v1/tournament.py
  packages/server/src/routes/api/v1/tournamentRoutes.py
Labels: none

update sessions api routes
  packages/server/src/routes/api/v1/sessions.py
  packages/server/src/routes/api/v1/sessionsRoutes.py
Labels: none

login continue adding to i18n
  packages/client/locales/en.yml
  packages/client/locales/es.yml
  packages/client/src/pages/login.vue
Labels: none

clean up portfolio loading logic
  packages/client/src/pages/dashboard/index.vue
Labels: none

.github/labeler.yml:

type/ci-env:
  - '.devcontainer/**/*'
  - '.github/**/*'
  - '.vscode/**/*'
  - '**/.gitignore'
  - '**/tsconfig.json'
  - .editorconfig
  - .gitattributes
  - .nvmrc
  - eslint.config.js
  - pnpm-workspace.yaml

type/dependencies:
  - '**/package.json'
  - '**/pnpm-lock.yaml'
  - '**/requirements.txt'

type/docs:
  - 'docs/**/*'
  - '**/README.md'
  - LICENSE
