Repository adibarra/fintasy, changes with the labels that .github/labeler.yml gives for each.
All labels: type/ci-env, type/dependencies, type/docs

add/update file headers
  Dockerfile.client
  Dockerfile.server
  packages/client/src/modules/i18n.ts
  packages/client/src/modules/nprogress.ts
  packages/client/src/modules/pinia.ts
  packages/client/src/modules/pwa.ts
  packages/server/src/helpers/quote.py
  packages/server/src/helpers/sessions.py
  packages/server/src/helpers/tournament.py
  packages/server/src/helpers/user.py
  packages/server/tests/sessions_test.py
  packages/server/tests/tournaments_test.py
Labels: none

clean up button and link
  packages/client/locales/en.yml
  packages/client/src/pages/login.vue
Labels: none

bump deps
  package.json
  packages/client/package.json
  pnpm-lock.yaml
Labels: type/dependencies

attributify css
  packages/client/src/pages/index.vue
Labels: none

improve look and feel
  packages/client/locales/en.yml
  packages/client/src/components/layout/HomeNav.vue
  packages/client/src/pages/login.vue
Labels: none

use svh and svw instead of vh and vw
  packages/client/src/pages/[...all].vue
  packages/client/src/pages/dashboard/[...all].vue
  packages/client/src/pages/login.vue
Labels: none

improve dashboard mobile ux
  packages/client/src/pages/dashboard/index.vue
Labels: none

add logout icon to navbar
  packages/client/src/components/layout/NavBar.vue
Labels: none

update file header
  packages/client/src/modules/nprogress.ts
  packages/client/src/modules/pinia.ts
  packages/client/src/modules/pwa.ts
Labels: none

work on i18n
  packages/client/locales/en.yml
  packages/client/src/components/layout/LanguageSwitch.vue
  packages/client/src/components/layout/ThemeSwitch.vue
  packages/client/src/modules/i18n.ts
Labels: none

update home nav
  packages/client/src/components/layout/HomeNav.vue
Labels: none

add i18n es
  packages/client/locales/es.yml
Labels: none

login continue adding to i18n
  packages/client/locales/en.yml
  packages/client/locales/es.yml
  packages/client/src/pages/login.vue
Labels: none

add more i18n strings
  packages/client/locales/en.yml
  packages/client/locales/es.yml
  packages/client/src/pages/index.vue
Labels: none

report language change in new language
  packages/client/src/components/layout/LanguageSwitch.vue
Labels: none

update package build script
  Dockerfile.client
  README.md
  package.json
Labels: type/dependencies, type/docs

fix typo
  packages/client/src/composables/api.ts
Labels: none

add id for form elements
  packages/client/src/pages/login.vue
Labels: none

add temporary fallback
  packages/client/src/composables/api.ts
Labels: none

remove pnpm start script
  README.md
  package.json
  packages/server/package.json
Labels: type/dependencies, type/docs

run linter
  packages/client/src/components/layout/HomeNav.vue
  packages/client/src/pages/login.vue
Labels: none

improve manual setup instructions
  README.md
Labels: type/docs

improve HomeNav layout
  packages/client/src/components/layout/HomeNav.vue
Labels: none

persist user state
  packages/client/src/stores/state.ts
Labels: none

polish up login page
  packages/client/src/pages/login.vue
Labels: none

clean up i18n translation strings
  packages/client/locales/en.yml
  packages/client/locales/es.yml
  packages/client/src/components/layout/LanguageSwitch.vue
Labels: none

add i18n translations
  packages/client/locales/am.yml
  packages/client/locales/ar.yml
  packages/client/locales/de.yml
  packages/client/locales/fr.yml
  packages/client/locales/hi.yml
  packages/client/locales/it.yml
  packages/client/locales/ja.yml
  packages/client/locales/ko.yml
  packages/client/locales/pt.yml
  packages/client/locales/ru.yml
  packages/client/locales/zh.yml
  packages/client/src/components/layout/LanguageSwitch.vue
Labels: none

add language switcher to settings page
  packages/client/src/pages/dashboard/settings.vue
Labels: none

add more translation strings
  packages/client/locales/en.yml
  packages/client/src/components/dashboard/PortfolioAssets.vue
  packages/client/src/components/dashboard/TransactionHistory.vue
Labels: none

update translations, give language switch error handling
  packages/client/locales/am.yml
  packages/client/locales/ar.yml
  packages/client/locales/bn.yml
  packages/client/locales/de.yml
  packages/client/locales/es.yml
  packages/client/locales/fr.yml
  packages/client/locales/hi.yml
  packages/client/locales/it.yml
  packages/client/locales/ja.yml
  packages/client/locales/ko.yml
  packages/client/locales/pt.yml
  packages/client/locales/ru.yml
  packages/client/locales/zh.yml
  packages/client/src/components/layout/LanguageSwitch.vue
Labels: none

add fun translations
  packages/client/locales/emoji.yml
  packages/client/locales/pirate.yml
Labels: none

Updated to add the API to the TournamentList class
  packages/client/src/components/tournaments/TournamentFilters.vue
  packages/client/src/components/tournaments/TournamentsList.vue
  packages/client/src/pages/dashboard/tournaments.vue
Labels: none

refactor
  packages/client/src/components/tournaments/TournamentsList.vue
Labels: none

refactor
  packages/client/src/components/trade/DataTable.vue
  packages/client/src/components/trade/FilterDropdown.vue
  packages/client/src/components/trade/FilterRadios.vue
  packages/client/src/components/trade/SearchForm.vue
  packages/client/src/pages/dashboard/trade.vue
Labels: none

Finalizing the page.
  packages/client/src/pages/dashboard/tournaments.vue
Labels: none

added functionality for sessionsAPI routes
  packages/server/src/routes/api/v1/sessionsRoutes.py
Labels: none

changed portfolio class to have int values for easier math / conversion & began implementation of user and portfolio api routes
  packages/server/src/helpers/portfolio.py
  packages/server/src/routes/api/v1/portfolioRoutes.py
  packages/server/src/routes/api/v1/userRoutes.py
Labels: none

Added functionality for Portfolio and User API routes
  packages/server/src/routes/api/v1/portfolioRoutes.py
  packages/server/src/routes/api/v1/userRoutes.py
Labels: none

updated some functionality in portfolio api routes class
  packages/server/src/routes/api/v1/portfolioRoutes.py
  packages/server/src/routes/api/v1/quoteRoutes.py
  packages/server/src/routes/api/v1/sessionsRoutes.py
  packages/server/src/routes/api/v1/tournamentRoutes.py
  packages/server/src/routes/api/v1/transactionsRoutes.py
  packages/server/src/routes/api/v1/userRoutes.py
Labels: none

clean up initialization logic for database
  packages/server/src/services/database/database.py
Labels: none

.github/labeler.yml:

type/ci-env:
  - '.devcontainer/**/*'
  - '.github/**/*'
  - '.vscode/**/*'
  - '**/.gitignore'
  - '**/tsconfig.json'
  - .editorconfig
  - .gitattributes
  - .nvmrc
  - eslint.config.js
  - pnpm-workspace.yaml

type/dependencies:
  - '**/package.json'
  - '**/pnpm-lock.yaml'
  - '**/requirements.txt'

type/docs:
  - 'docs/**/*'
  - '**/README.md'
  - LICENSE
