Repository adibarra/fintasy, changes with the labels that .github/labeler.yml gives for each.
All labels: type/ci-env, type/dependencies, type/docs

allow account creation without associated tournament uuid
  docs/assets/swagger.yaml
Labels: type/docs

add and use TransactionAction enum, return prices and balances in cents
  docs/assets/swagger.yaml
Labels: type/docs

update to match api
  docs/assets/prototypes/database.excalidraw.png
Labels: type/docs

fix spacing
  docs/assets/prototypes/database.excalidraw.png
Labels: type/docs

fix spacing
  docs/assets/prototypes/database.excalidraw.png
Labels: type/docs

add docs theme
  docs/_config.yml
Labels: type/docs

reorganize assets
  docs/assets/excalidraw/database.excalidraw.png
  docs/assets/excalidraw/prototypes/dashboard-desktop.excalidraw.png
  docs/assets/excalidraw/prototypes/dashboard-mobile.excalidraw.png
  docs/assets/excalidraw/templates.excalidraw.png
Labels: type/docs

test swagger ui
  docs/design/swagger.html
Labels: type/docs

fix swagger ui
  docs/design/swagger.html
Labels: type/docs

reorganize docs
  README.md
  docs/design/api.md
  docs/design/backend.md
  docs/design/database.md
  docs/design/frontend.md
  docs/index.md
  docs/swagger.html
Labels: type/docs

update readme
  README.md
Labels: type/docs

update description
  docs/assets/swagger.yaml
Labels: type/docs

rename repo
  .devcontainer/devcontainer.json
  README.md
  package.json
Labels: type/ci-env, type/dependencies, type/docs

clean up readme, add logo, add LICENSE
  LICENSE
  README.md
  docs/assets/logo.png
Labels: type/docs

linguist detect markdown and yaml
  .gitattributes
Labels: type/ci-env

update swagger docs page
  docs/swagger.html
Labels: type/docs

/quote -> /quotes
  docs/assets/swagger.yaml
Labels: type/docs

add updated_at field to most get endpoints
  docs/assets/swagger.yaml
Labels: type/docs

change user premium balance name to coins
  docs/assets/swagger.yaml
Labels: type/docs

update relative links
  README.md
  docs/swagger.html
Labels: type/docs

clean up docs
  docs/index.md
Labels: type/docs

update database design
  docs/assets/excalidraw/database.excalidraw.png
Labels: type/docs

fix 404 page title
  packages/client/src/pages/404.vue
Labels: none

add stubs for pages
  packages/client/src/pages/dashboard.vue
  packages/client/src/pages/trade.vue
Labels: none

work on color palette
  packages/client/src/styles/main.css
Labels: none

avoid flash of incorrect theme
  packages/client/index.html
Labels: none

overhaul unocss shortcuts
  packages/client/unocss.config.ts
Labels: none

split into dedicated composables
  packages/client/src/auto-imports.d.ts
  packages/client/src/composables/dark.ts
  packages/client/src/composables/mobile.ts
  packages/client/src/composables/utils.ts
Labels: none

fix unocss infinite loop
  packages/client/unocss.config.ts
Labels: none

add naive-ui component library
  packages/client/package.json
  packages/client/tsconfig.json
  packages/client/vite.config.ts
  pnpm-lock.yaml
Labels: type/ci-env, type/dependencies

remove console.log
  packages/client/unocss.config.ts
Labels: none

add i18n, pwa, tests, upgrade router
  .devcontainer/devcontainer.json
  .vscode/settings.json
  packages/client/locales/README.md
  packages/client/locales/en.yml
  packages/client/package.json
  packages/client/src/auto-imports.d.ts
  packages/client/src/main.ts
  packages/client/src/pages/index.vue
  packages/client/src/typed-router.d.ts
  packages/client/vite.config.ts
  pnpm-lock.yaml
Labels: type/ci-env, type/dependencies, type/docs

configure and use i18n, add pwa
  .npmrc
  packages/client/locales/README.md
  packages/client/locales/en.yml
  packages/client/package.json
  packages/client/src/auto-imports.d.ts
  packages/client/src/modules/i18n.ts
  packages/client/src/modules/pwa.ts
  packages/client/src/pages/404.vue
  packages/client/src/pages/dashboard.vue
  packages/client/src/pages/index.vue
  packages/client/src/pages/trade.vue
  packages/client/tests/basic.test.ts
  packages/client/vite.config.ts
  pnpm-lock.yaml
Labels: type/dependencies, type/docs

lint
  docs/assets/swagger.yaml
  docs/index.md
  packages/client/src/main.ts
Labels: type/docs

use new unocss shortcut
  packages/client/src/App.vue
Labels: none

bump deps
  package.json
  packages/client/package.json
  pnpm-lock.yaml
Labels: type/dependencies

add test script
  package.json
  packages/client/package.json
Labels: type/dependencies

set project version
  package.json
Labels: type/dependencies

update tsconfig
  packages/client/tsconfig.json
Labels: type/ci-env

make badges dynamic
  README.md
Labels: type/docs

.github/labeler.yml:

type/ci-env:
  - '.devcontainer/**/*'
  - '.github/**/*'
  - '.vscode/**/*'
  - '**/.gitignore'
  - '**/tsconfig.json'
  - .editorconfig
  - .gitattributes
  - .nvmrc
  - eslint.config.js
  - pnpm-workspace.yaml

type/dependencies:
  - '**/package.json'
  - '**/pnpm-lock.yaml'
  - '**/requirements.txt'

type/docs:
  - 'docs/**/*'
  - '**/README.md'
  - LICENSE
