Repository adibarra/fintasy, changes with the labels that .github/labeler.yml gives for each.
All labels: type/ci-env, type/dependencies, type/docs

fix nginx deploy
  Dockerfile.client
Labels: none

fix dockerfile client
  Dockerfile.client
  nginx-conf/default.conf
  nginx-conf/nginx.conf
Labels: none

cleanup docker build
  .github/workflows/deploy-images.yml
  Dockerfile.client
  nginx.conf
Labels: type/ci-env

build custom nginx
  Dockerfile.client
  nginx.conf
Labels: none

fix root paths
  nginx.conf
Labels: none

increase footerbar height
  packages/client/src/components/layout/FooterBar.vue
  packages/client/src/layouts/dashboard-md.vue
  packages/client/src/layouts/dashboard.vue
Labels: none

add options to useAPI
  packages/client/src/composables/api.ts
Labels: none

update theme composable name
  packages/client/src/composables/theme.ts
Labels: none

improve devcontainer
  .devcontainer/devcontainer.json
  .devcontainer/postStartCommand.sh
Labels: type/ci-env

remove javascript required message
  packages/client/index.html
Labels: none

add historical quotes
  docs/assets/swagger.yaml
  packages/client/src/composables/api.ts
  packages/client/src/types.ts
Labels: type/docs

clean up scripts and reorganize deps
  package.json
  packages/client/package.json
  pnpm-lock.yaml
Labels: type/dependencies

only install prod deps during build
  Dockerfile.client
Labels: none

add nginx conf extension
  .devcontainer/devcontainer.json
  .vscode/settings.json
Labels: type/ci-env

remove devtools plugin
  packages/client/package.json
  packages/client/vite.config.ts
  pnpm-lock.yaml
Labels: type/dependencies

add testing framework for python
  packages/server/package.json
  packages/server/tests/basic_test.py
Labels: type/dependencies

add user class functions
  packages/server/requirements.txt
  packages/server/src/classes/user.py
  packages/server/tests/user_test.py
Labels: type/dependencies

add and run python formatter
  package.json
  packages/server/package.json
  packages/server/src/config.py
  packages/server/src/main.py
  packages/server/tests/basic_test.py
Labels: type/dependencies

add stub for database singleton
  packages/server/src/services/database.py
Labels: none

fix naming to PEP8
  .vscode/settings.json
  packages/server/package.json
  packages/server/src/helpers/user.py
  packages/server/tests/user_test.py
Labels: type/ci-env, type/dependencies

begin work on users routes
  packages/server/src/routes/api/v1/users.py
Labels: none

add ruff_cache to .gitignore
  packages/server/.gitignore
Labels: type/ci-env

update setup instructions
  README.md
Labels: type/docs

update file headers
  packages/server/src/helpers/user.py
  packages/server/src/services/database.py
  packages/server/tests/basic_test.py
  packages/server/tests/user_test.py
Labels: none

named the file correctly.
  packages/server/src/helpers/portfolio.py
Labels: none

Added requested functionality along with new functionality that allows users to create portfolios with default names.
  packages/server/src/helpers/portfolio.py
Labels: none

fix ERROR_TYPES enum, remove interactive input()
  packages/server/src/helpers/portfolio.py
Labels: none

update headers
  packages/server/src/helpers/portfolio.py
Labels: none

Hello
  packages/server/src/helpers/portfolio.py
Labels: none

Added ability to rename a user's portfolio name if it exists inside of the databases
  packages/server/src/helpers/portfolio.py
Labels: none

Added test cases for transactions.py as well as description and authour comments.
  packages/server/src/helpers/transactions.py
  packages/server/tests/transactions_test.py
Labels: none

``` Added quote.py ```
  packages/server/src/helpers/quote.py
Labels: none

Akshay - Added quote_test.py
  packages/server/tests/quote_test
Labels: none

Akshay - Added quote_test.py
  packages/server/tests/quote_test
Labels: none

Hello
  packages/server/src/helpers/portfolio.py
Labels: none

fix ERROR_TYPES enum, remove interactive input()
  packages/server/src/helpers/portfolio.py
Labels: none

named the file correctly.
  packages/server/src/helpers/portfolio.py
Labels: none

Added requested functionality along with new functionality that allows users to create portfolios with default names.
  packages/server/src/helpers/portfolio.py
Labels: none

update setup instructions
  README.md
Labels: type/docs

Added test cases for transactions.py as well as description and authour comments.
  packages/server/src/helpers/transactions.py
  packages/server/tests/transactions_test.py
Labels: none

.github/labeler.yml:

type/ci-env:
  - '.devcontainer/**/*'
  - '.github/**/*'
  - '.vscode/**/*'
  - '**/.gitignore'
  - '**/tsconfig.json'
  - .editorconfig
  - .gitattributes
  - .nvmrc
  - eslint.config.js
  - pnpm-workspace.yaml

type/dependencies:
  - '**/package.json'
  - '**/pnpm-lock.yaml'
  - '**/requirements.txt'

type/docs:
  - 'docs/**/*'
  - '**/README.md'
  - LICENSE
