Repository adibarra/fintasy, changes with the labels that .github/labeler.yml gives for each.
All labels: type/ci-env, type/dependencies, type/docs

implement portfolios database operations
  packages/server/src/services/database/mixins/portfolios.py
Labels: none

update to match new functions
  packages/server/src/services/database/mixins/users.py
Labels: none

changed portfolio class to have int values for easier math / conversion & began implementation of user and portfolio api routes
  packages/server/src/helpers/portfolio.py
  packages/server/src/routes/api/v1/portfolioRoutes.py
  packages/server/src/routes/api/v1/userRoutes.py
Labels: none

add fastapi dependency
  packages/server/requirements.txt
Labels: type/dependencies

remove nop
  packages/server/src/routes/api/v1/portfolioRoutes.py
Labels: none

clean up users mixin
  packages/server/src/services/database/mixins/users.py
Labels: none

add initial tournaments database operations
  packages/server/src/services/database/mixins/transactions.py
Labels: none

add session database operations
  packages/server/src/services/database/mixins/sessions.py
Labels: none

add tournaments database operations
  packages/server/src/services/database/mixins/tournaments.py
Labels: none

add all new operations to database class
  packages/server/src/services/database/database.py
Labels: none

update pr template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: type/ci-env

add missing commit()
  packages/server/src/services/database/mixins/sessions.py
  packages/server/src/services/database/mixins/users.py
Labels: none

fix order, put column_names into if statement
  packages/server/src/services/database/mixins/portfolios.py
  packages/server/src/services/database/mixins/tournaments.py
  packages/server/src/services/database/mixins/transactions.py
Labels: none

updated some functionality in portfolio api routes class
  packages/server/src/routes/api/v1/portfolioRoutes.py
  packages/server/src/routes/api/v1/quoteRoutes.py
  packages/server/src/routes/api/v1/sessionsRoutes.py
  packages/server/src/routes/api/v1/tournamentRoutes.py
  packages/server/src/routes/api/v1/transactionsRoutes.py
  packages/server/src/routes/api/v1/userRoutes.py
Labels: none

Added functionality for Portfolio and User API routes
  packages/server/src/routes/api/v1/portfolioRoutes.py
  packages/server/src/routes/api/v1/userRoutes.py
Labels: none

add spellcheck word
  .vscode/settings.json
Labels: type/ci-env

add database triggers
  packages/server/src/services/database/database.py
Labels: none

fix column names
  packages/server/src/services/database/mixins/sessions.py
Labels: none

Adding creating tables for the paper trade database
  packages/server/src/services/database/database.py
Labels: none

fix order, put column_names into if statement
  packages/server/src/services/database/database.py
Labels: none

cleanup
  .vscode/settings.json
  packages/server/src/services/database/database.py
Labels: type/ci-env

create enums safely
  packages/server/src/services/database/database.py
Labels: none

run linter
  packages/server/src/services/database/database.py
Labels: none

add created_at, updated_at to attributes table
  packages/server/src/services/database/database.py
Labels: none

enforce not null for columns
  packages/server/src/services/database/database.py
Labels: none

set coins column to not null
  packages/server/src/services/database/database.py
Labels: none

only catch psycopg2 errors
  packages/server/src/services/database/database.py
Labels: none

add credits
  .vscode/settings.json
  packages/server/src/services/database/database.py
Labels: type/ci-env

standardize file headers
  .vscode/settings.json
  packages/server/src/helpers/portfolio.py
  packages/server/src/helpers/tournament.py
  packages/server/src/helpers/transactions.py
  packages/server/tests/transactions_test.py
Labels: type/ci-env

use router instead of app
  packages/server/src/routes/api/v1/userRoutes.py
Labels: none

update userRoutes
  .vscode/settings.json
  packages/server/src/routes/api/v1/userRoutes.py
Labels: type/ci-env

fix sessions operations, add get_session
  packages/server/src/services/database/mixins/sessions.py
Labels: none

added functionality for sessionsAPI routes
  packages/server/src/routes/api/v1/sessionsRoutes.py
Labels: none

update authentication func
  packages/server/src/routes/api/v1/userRoutes.py
Labels: none

add missing ')'
  packages/server/src/services/database/mixins/sessions.py
Labels: none

add server for fastapi routes
  .vscode/settings.json
  packages/server/requirements.txt
  packages/server/src/config.py
  packages/server/src/main.py
  packages/server/src/routes/api/v1/users.py
Labels: type/ci-env, type/dependencies

remove duplicate code
  packages/server/src/services/database/database.py
Labels: none

remove duplicate code
  packages/server/src/services/database/database.py
Labels: none

flush all print statements
  packages/server/src/config.py
  packages/server/src/main.py
  packages/server/src/services/database/database.py
  packages/server/src/services/database/mixins/meta.py
  packages/server/src/services/database/mixins/portfolios.py
  packages/server/src/services/database/mixins/sessions.py
  packages/server/src/services/database/mixins/tournaments.py
  packages/server/src/services/database/mixins/transactions.py
  packages/server/src/services/database/mixins/users.py
Labels: none

fix unhead installation
  packages/client/package.json
  packages/client/src/main.ts
  packages/client/vite.config.ts
  pnpm-lock.yaml
Labels: type/dependencies

.github/labeler.yml:

type/ci-env:
  - '.devcontainer/**/*'
  - '.github/**/*'
  - '.vscode/**/*'
  - '**/.gitignore'
  - '**/tsconfig.json'
  - .editorconfig
  - .gitattributes
  - .nvmrc
  - eslint.config.js
  - pnpm-workspace.yaml

type/dependencies:
  - '**/package.json'
  - '**/pnpm-lock.yaml'
  - '**/requirements.txt'

type/docs:
  - 'docs/**/*'
  - '**/README.md'
  - LICENSE
