Repository adibarra/fintasy, changes with the labels that .github/labeler.yml gives for each.
All labels: type/ci-env, type/dependencies, type/docs

update headers
  packages/server/src/helpers/portfolio.py
Labels: none

Added ability to rename a user's portfolio name if it exists inside of the databases
  packages/server/src/helpers/portfolio.py
Labels: none

``` Added quote.py ```
  packages/server/src/helpers/quote.py
Labels: none

add file extension
  packages/server/tests/quote_test.py
Labels: none

run linter
  packages/server/src/helpers/transactions.py
  packages/server/tests/transactions_test.py
Labels: none

Home Page Updated, the Dashboard also has a working link and Logo
  packages/client/public/graph.png
  packages/client/public/money.png
  packages/client/src/components/layout/Logo.vue
  packages/client/src/pages/dashboard/index.vue
  packages/client/src/pages/index.vue
Labels: none

Add session class and test for sessions
  packages/server/src/helpers/sessions.py
  packages/server/tests/sessions_test.py
Labels: none

move images into images dir
  packages/client/public/images/graph.png
  packages/client/public/images/money.png
  packages/client/src/pages/index.vue
Labels: none

change anchors to router-link
  packages/client/src/pages/index.vue
Labels: none

fix file headers
  packages/server/src/helpers/user.py
  packages/server/tests/basic_test.py
  packages/server/tests/user_test.py
Labels: none

update anchor to router-link
  packages/client/src/components/layout/Logo.vue
Labels: none

use correct components, use brand colors
  packages/client/src/pages/index.vue
Labels: none

remove unnecessary imports
  packages/client/src/pages/index.vue
Labels: none

re-add file headers
  .vscode/settings.json
  packages/client/src/pages/index.vue
Labels: type/ci-env

Create tournament.py
  packages/server/src/helpers/tournament.py
Labels: none

begin work on database functionality
  .env.production.example
  .vscode/settings.json
  packages/server/requirements.txt
  packages/server/src/config.py
  packages/server/src/services/database.py
Labels: type/ci-env, type/dependencies

optimize css / html
  packages/client/src/pages/index.vue
Labels: none

clean up layout
  packages/client/src/layouts/default.vue
  packages/client/src/pages/index.vue
Labels: none

fix types
  packages/client/src/pages/dashboard/index.vue
Labels: none

run linter
  packages/server/src/helpers/sessions.py
  packages/server/src/helpers/tournament.py
  packages/server/tests/sessions_test.py
Labels: none

fix sizing on mobile
  packages/client/src/pages/index.vue
Labels: none

improve handling for dotenv files
  .devcontainer/postStartCommand.sh
  .env.example
  .env.production.example
  .gitignore
  packages/client/src/composables/api.ts
  packages/server/src/config.py
Labels: type/ci-env

update .env.example
  .env.example
Labels: none

update corepack install cmd
  .devcontainer/postStartCommand.sh
Labels: type/ci-env

remove from branch
  packages/server/src/routes/api/v1/users.py
Labels: none

fix duplicate internal class
  packages/server/src/services/database.py
Labels: none

fix font selection placement
  packages/client/index.html
Labels: none

delete dupe
  packages/server/tests/quote_test
Labels: none

continue implementing database service
  .vscode/settings.json
  packages/server/src/services/database.py
  packages/server/src/services/database/__init__.py
  packages/server/src/services/database/database.py
  packages/server/src/services/database/mixins/README.md
  packages/server/src/services/database/mixins/__init__.py
  packages/server/src/services/database/mixins/meta.py
  packages/server/src/services/database/mixins/users.py
Labels: type/ci-env, type/docs

add auto mixin loading
  packages/server/src/services/database/database.py
  packages/server/src/services/database/mixins/README.md
  packages/server/src/services/database/mixins/meta.py
  packages/server/src/services/database/mixins/users.py
Labels: type/docs

give type hints for connectionPool
  packages/server/src/services/database/mixins/meta.py
  packages/server/src/services/database/mixins/users.py
Labels: none

improve docs
  packages/server/src/services/database/database.py
Labels: none

remove dynamic imports (broke intellisense)
  packages/server/src/services/database/database.py
  packages/server/src/services/database/mixins/README.md
Labels: type/docs

update return types
  packages/server/src/services/database/mixins/users.py
Labels: none

add update user
  packages/server/src/services/database/mixins/users.py
Labels: none

add delete_user
  packages/server/src/services/database/mixins/users.py
Labels: none

bump dependencies
  package.json
  packages/client/package.json
  pnpm-lock.yaml
Labels: type/dependencies

remove vite-ssg
  packages/client/.gitignore
  packages/client/package.json
  packages/client/src/main.ts
  packages/client/src/modules/nprogress.ts
  packages/client/src/modules/pinia.ts
  packages/client/src/modules/pwa.ts
  packages/client/src/types.ts
  packages/client/vite.config.ts
  pnpm-lock.yaml
Labels: type/ci-env, type/dependencies

add stubs
  packages/server/src/services/database/mixins/tournaments.py
  packages/server/src/services/database/mixins/transactions.py
Labels: none

implement tournaments
  packages/server/src/services/database/mixins/tournaments.py
Labels: none

.github/labeler.yml:

type/ci-env:
  - '.devcontainer/**/*'
  - '.github/**/*'
  - '.vscode/**/*'
  - '**/.gitignore'
  - '**/tsconfig.json'
  - .editorconfig
  - .gitattributes
  - .nvmrc
  - eslint.config.js
  - pnpm-workspace.yaml

type/dependencies:
  - '**/package.json'
  - '**/pnpm-lock.yaml'
  - '**/requirements.txt'

type/docs:
  - 'docs/**/*'
  - '**/README.md'
  - LICENSE
