Repository adibarra/fintasy, changes with the labels that .github/labeler.yml gives for each.
All labels: type/ci-env, type/dependencies, type/docs

e
  packages/server/src/helpers/quote.py
  packages/server/tests/quote_test.py
Labels: none

unwrap if statements
  packages/client/src/pages/dashboard/index.vue
Labels: none

bump deps
  package.json
  packages/client/package.json
  pnpm-lock.yaml
Labels: type/dependencies

add special handling for missing auth token
  packages/server/src/routes/api/v1/tournaments.py
  packages/server/src/routes/api/v1/transactions.py
  packages/server/src/routes/api/v1/users.py
Labels: none

add translation strings
  packages/client/locales/en.yml
  packages/client/src/components/dashboard/PortfolioAssets.vue
  packages/client/src/components/dashboard/PortfolioChart.vue
  packages/client/src/components/dashboard/TransactionHistory.vue
Labels: none

fix issue with return types
  packages/server/src/routes/api/v1/portfolios.py
Labels: none

fix typo
  packages/client/src/composables/api.ts
Labels: none

refactor auth state logic
  packages/client/src/components/layout/NavBar.vue
  packages/client/src/pages/dashboard/index.vue
  packages/client/src/pages/login.vue
  packages/client/src/stores/state.ts
Labels: none

add/update file headers
  Dockerfile.client
  Dockerfile.server
  packages/client/src/modules/i18n.ts
  packages/client/src/modules/nprogress.ts
  packages/client/src/modules/pinia.ts
  packages/client/src/modules/pwa.ts
  packages/server/src/helpers/quote.py
  packages/server/src/helpers/sessions.py
  packages/server/src/helpers/tournament.py
  packages/server/src/helpers/user.py
  packages/server/tests/sessions_test.py
  packages/server/tests/tournaments_test.py
Labels: none

fix auth token check
  packages/server/src/routes/api/v1/quotes.py
  packages/server/src/routes/api/v1/sessions.py
Labels: none

add i18n es
  packages/client/locales/es.yml
Labels: none

misc cleanup
  packages/client/src/pages/login.vue
Labels: none

fix portfolios table should allow null tournament
  packages/server/src/services/database/database.py
Labels: none

add check for token
  packages/client/src/composables/api.ts
Labels: none

extract home navbar into component
  packages/client/src/components/layout/HomeNav.vue
  packages/client/src/layouts/home.vue
  packages/client/src/pages/[...all].vue
  packages/client/src/pages/index.vue
  packages/client/src/pages/login.vue
Labels: none

polish up login page
  packages/client/src/pages/login.vue
Labels: none

work on i18n
  packages/client/locales/en.yml
  packages/client/src/components/layout/LanguageSwitch.vue
  packages/client/src/components/layout/ThemeSwitch.vue
  packages/client/src/modules/i18n.ts
Labels: none

add more i18n strings
  packages/client/locales/en.yml
  packages/client/locales/es.yml
  packages/client/src/pages/index.vue
Labels: none

open register page by default
  packages/client/src/pages/login.vue
Labels: none

update translations, give language switch error handling
  packages/client/locales/am.yml
  packages/client/locales/ar.yml
  packages/client/locales/bn.yml
  packages/client/locales/de.yml
  packages/client/locales/es.yml
  packages/client/locales/fr.yml
  packages/client/locales/hi.yml
  packages/client/locales/it.yml
  packages/client/locales/ja.yml
  packages/client/locales/ko.yml
  packages/client/locales/pt.yml
  packages/client/locales/ru.yml
  packages/client/locales/zh.yml
  packages/client/src/components/layout/LanguageSwitch.vue
Labels: none

remove pnpm start script
  README.md
  package.json
  packages/server/package.json
Labels: type/dependencies, type/docs

combine login/register, style using color palette
  packages/client/locales/en.yml
  packages/client/src/pages/login.vue
  packages/client/src/pages/register.vue
  packages/client/src/stores/state.ts
  packages/client/src/typed-router.d.ts
Labels: none

add i18n translations
  packages/client/locales/am.yml
  packages/client/locales/ar.yml
  packages/client/locales/de.yml
  packages/client/locales/fr.yml
  packages/client/locales/hi.yml
  packages/client/locales/it.yml
  packages/client/locales/ja.yml
  packages/client/locales/ko.yml
  packages/client/locales/pt.yml
  packages/client/locales/ru.yml
  packages/client/locales/zh.yml
  packages/client/src/components/layout/LanguageSwitch.vue
Labels: none

improve dashboard mobile ux
  packages/client/src/pages/dashboard/index.vue
Labels: none

add fun translations
  packages/client/locales/emoji.yml
  packages/client/locales/pirate.yml
Labels: none

improve HomeNav layout
  packages/client/src/components/layout/HomeNav.vue
Labels: none

add error message for missing fields
  packages/client/locales/en.yml
  packages/client/src/pages/login.vue
Labels: none

login expects email
  packages/client/src/pages/login.vue
Labels: none

Complete Test cases fromQuote
  packages/server/src/helpers/quote.py
  packages/server/tests/quote_test.py
Labels: none

fix page titles
  packages/client/locales/en.yml
  packages/client/src/pages/login.vue
  packages/client/src/pages/register.vue
Labels: none

clean up login page and auth logic
  packages/client/src/pages/dashboard/index.vue
  packages/client/src/pages/login.vue
  packages/client/src/stores/state.ts
Labels: none

Function to simulate user joining tournmament and TestJoinTournament clase
  packages/server/tests/tournaments_test.py
Labels: none

add temporary fallback
  packages/client/src/composables/api.ts
Labels: none

add 401 handling, and authenticated ref
  packages/client/src/composables/api.ts
Labels: none

add more translation strings
  packages/client/locales/en.yml
  packages/client/src/components/dashboard/PortfolioAssets.vue
  packages/client/src/components/dashboard/TransactionHistory.vue
Labels: none

update package build script
  Dockerfile.client
  README.md
  package.json
Labels: type/dependencies, type/docs

create central state store
  packages/client/src/components/layout/NavBar.vue
  packages/client/src/stores/state.ts
Labels: none

fix defaults for portfolio db op
  packages/server/src/services/database/mixins/portfolios.py
Labels: none

add id for form elements
  packages/client/src/pages/login.vue
Labels: none

fix handleAuthErrors
  packages/client/src/composables/api.ts
Labels: none

.github/labeler.yml:

type/ci-env:
  - '.devcontainer/**/*'
  - '.github/**/*'
  - '.vscode/**/*'
  - '**/.gitignore'
  - '**/tsconfig.json'
  - .editorconfig
  - .gitattributes
  - .nvmrc
  - eslint.config.js
  - pnpm-workspace.yaml

type/dependencies:
  - '**/package.json'
  - '**/pnpm-lock.yaml'
  - '**/requirements.txt'

type/docs:
  - 'docs/**/*'
  - '**/README.md'
  - LICENSE
