Repository adibarra/fintasy, changes with the labels that .github/labeler.yml gives for each.
All labels: type/ci-env, type/dependencies, type/docs

.github/labeler.yml:

type/ci-env:
  - '.devcontainer/**/*'
  - '.github/**/*'
  - '.vscode/**/*'
  - '**/.gitignore'
  - '**/tsconfig.json'
  - .editorconfig
  - .gitattributes
  - .nvmrc
  - eslint.config.js
  - pnpm-workspace.yaml

type/dependencies:
  - '**/package.json'
  - '**/pnpm-lock.yaml'
  - '**/requirements.txt'

type/docs:
  - 'docs/**/*'
  - '**/README.md'
  - LICENSE

run linter
  packages/server/tests/alpaca.py
Labels: none

remove (and invalidate) apca keys
  packages/server/src/services/alpaca/alpaca.py
Labels: none

added modal class and join function
  packages/client/src/components/tournaments/TournamentModal.vue
  packages/client/src/components/tournaments/TournamentsList.vue
Labels: none

update alpaca api and test file
  packages/server/src/helpers/sessions.py
  packages/server/src/services/alpaca/alpaca.py
  packages/server/tests/alpaca_test.py
Labels: none

more error handling
  packages/server/src/routes/api/v1/portfolios.py
  packages/server/src/routes/api/v1/tournaments.py
Labels: none

updated console.log and modal to be black
  packages/client/src/components/tournaments/TournamentModal.vue
  packages/client/src/components/tournaments/TournamentsList.vue
Labels: none

updated joinTournament to update portfolios
  packages/client/src/components/tournaments/TournamentsList.vue
Labels: none

Updated Trade page and DataTable
  packages/client/src/components/dashboard/PortfolioAssets.vue
  packages/client/src/components/trade/DataTable.vue
  packages/client/src/pages/dashboard/trade.vue
Labels: none

updated pagination
  packages/client/src/components/tournaments/TournamentsList.vue
Labels: none

updated pagination p.2
  packages/client/src/components/tournaments/TournamentsList.vue
Labels: none

updated pagination p3
  packages/client/src/components/tournaments/TournamentsList.vue
Labels: none

stylize
  packages/client/src/components/trade/DataTable.vue
  packages/client/src/components/trade/SearchForm.vue
  packages/client/src/pages/dashboard/trade.vue
Labels: none

minor refactor
  packages/client/src/components/tournaments/TournamentFilters.vue
  packages/client/src/components/tournaments/TournamentsList.vue
  packages/client/src/pages/dashboard/tournaments.vue
Labels: none

switch to guard pattern for api calls
  packages/client/src/components/tournaments/TournamentsList.vue
Labels: none

switch to script setup
  packages/client/src/components/tournaments/TournamentModal.vue
Labels: none

add identicon
  .vscode/settings.json
  packages/client/package.json
  packages/client/src/components/layout/NavBar.vue
  packages/client/src/stores/state.ts
  pnpm-lock.yaml
Labels: type/ci-env, type/dependencies

bump dependencies
  package.json
  packages/client/package.json
  pnpm-lock.yaml
Labels: type/dependencies

misc formatting and fixes
  packages/server/src/helpers/quote.py
  packages/server/src/services/alpaca/alpaca.py
  packages/server/tests/alpaca_test.py
  packages/server/tests/quote_test.py
Labels: none

misc formatting and fixes
  packages/server/src/helpers/sessions.py
  packages/server/src/helpers/transactions.py
  packages/server/tests/sessions_test.py
  packages/server/tests/transactions_test.py
Labels: none

fix import
  packages/server/src/services/alpaca/alpaca.py
Labels: none

clean up i18n languages
  packages/client/src/components/layout/LanguageSwitch.vue
Labels: none

formatting
  packages/client/src/components/helper/Provider.vue
Labels: none

login via username
  docs/assets/swagger.yaml
  packages/client/src/composables/api.ts
  packages/client/src/pages/login.vue
  packages/server/src/routes/api/v1/sessions.py
  packages/server/src/services/database/database.py
  packages/server/src/services/database/mixins/users.py
Labels: type/docs

bump deps
  package.json
  packages/client/package.json
  pnpm-lock.yaml
Labels: type/dependencies

use prebuilt nginx
  Dockerfile.client
Labels: none

test docker build caching
  .github/workflows/deploy-images.yml
Labels: type/ci-env

switch to matrix strategy
  .github/workflows/deploy-images.yml
Labels: type/ci-env

clean up build script
  .github/workflows/deploy-images.yml
Labels: type/ci-env

fix matrix
  .github/workflows/deploy-images.yml
Labels: type/ci-env

updated pr template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: type/ci-env
