Repository adibarra/fintasy, changes with the labels that .github/labeler.yml gives for each.
All labels: type/ci-env, type/dependencies, type/docs

.github/labeler.yml:

type/ci-env:
  - '.devcontainer/**/*'
  - '.github/**/*'
  - '.vscode/**/*'
  - '**/.gitignore'
  - '**/tsconfig.json'
  - .editorconfig
  - .gitattributes
  - .nvmrc
  - eslint.config.js
  - pnpm-workspace.yaml

type/dependencies:
  - '**/package.json'
  - '**/pnpm-lock.yaml'
  - '**/requirements.txt'

type/docs:
  - 'docs/**/*'
  - '**/README.md'
  - LICENSE

run linter
  packages/client/src/components/layout/HomeNav.vue
  packages/client/src/pages/login.vue
Labels: none

update home nav
  packages/client/src/components/layout/HomeNav.vue
Labels: none

clean up button and link
  packages/client/locales/en.yml
  packages/client/src/pages/login.vue
Labels: none

allow portfolios with spaces in name
  packages/server/src/helpers/portfolio.py
Labels: none

use svh and svw instead of vh and vw
  packages/client/src/pages/[...all].vue
  packages/client/src/pages/dashboard/[...all].vue
  packages/client/src/pages/login.vue
Labels: none

add language switcher to settings page
  packages/client/src/pages/dashboard/settings.vue
Labels: none

add logout icon to navbar
  packages/client/src/components/layout/NavBar.vue
Labels: none

add stores to auto imports
  packages/client/src/components/layout/SideBar.vue
  packages/client/vite.config.ts
Labels: none

improve manual setup instructions
  README.md
Labels: type/docs

clean up i18n translation strings
  packages/client/locales/en.yml
  packages/client/locales/es.yml
  packages/client/src/components/layout/LanguageSwitch.vue
Labels: none

add account requirements
  packages/client/locales/en.yml
  packages/client/src/pages/login.vue
Labels: none

attributify css
  packages/client/src/pages/index.vue
Labels: none

de-dupe code
  packages/client/src/pages/dashboard/index.vue
  packages/client/src/pages/login.vue
Labels: none

improve look and feel
  packages/client/locales/en.yml
  packages/client/src/components/layout/HomeNav.vue
  packages/client/src/pages/login.vue
Labels: none

fix query params and imports
  packages/server/src/helpers/tournament.py
  packages/server/src/routes/api/v1/portfolios.py
  packages/server/src/routes/api/v1/quotes.py
  packages/server/src/routes/api/v1/tournaments.py
Labels: none

update state store, begin integrating dashboard
  packages/client/src/components/layout/NavBar.vue
  packages/client/src/composables/api.ts
  packages/client/src/pages/dashboard/index.vue
  packages/client/src/pages/login.vue
  packages/client/src/stores/state.ts
  packages/client/src/types.ts
Labels: none

persist user state
  packages/client/src/stores/state.ts
Labels: none

update file header
  packages/client/src/modules/nprogress.ts
  packages/client/src/modules/pinia.ts
  packages/client/src/modules/pwa.ts
Labels: none

report language change in new language
  packages/client/src/components/layout/LanguageSwitch.vue
Labels: none

fix users post and patch routes
  packages/server/src/routes/api/v1/users.py
Labels: none

created type 'filter'
  packages/client/src/components/tournaments/TournamentFilters.vue
  packages/client/src/components/tournaments/TournamentsList.vue
  packages/client/src/pages/dashboard/tournaments.vue
Labels: none

remove startup/shutdown messages
  packages/server/src/main.py
Labels: none

fix create_tournament
  packages/server/src/services/database/mixins/tournaments.py
Labels: none

add missing validation funcs
  packages/server/src/helpers/tournament.py
Labels: none

fix validation and post tournaments
  packages/server/src/routes/api/v1/tournaments.py
Labels: none

fix bad enum
  packages/server/src/helpers/tournament.py
Labels: none

fix TournamentData shape
  packages/server/src/routes/api/v1/tournaments.py
Labels: none

fix tournaments response type
  packages/server/src/routes/api/v1/tournaments.py
Labels: none

fix casting uuid, add missing awaits
  packages/server/src/routes/api/v1/portfolios.py
  packages/server/src/routes/api/v1/tournaments.py
  packages/server/src/routes/api/v1/transactions.py
Labels: none

fix db query
  packages/server/src/services/database/mixins/tournaments.py
Labels: none

add if not none check
  packages/server/src/services/database/mixins/tournaments.py
Labels: none

fix auth check, fix uuid conversion
  packages/server/src/routes/api/v1/tournaments.py
Labels: none

Updated pagination
  packages/client/src/components/tournaments/TournamentsList.vue
Labels: none

make all tournaments public
  packages/server/src/routes/api/v1/tournaments.py
Labels: none

Add historical quote query
  packages/server/src/services/alpaca/alpaca.py
  packages/server/tests/alpaca.py
Labels: none

pulled main
  packages/server/src/services/alpaca/alpaca.py
Labels: none

fix error handling
  packages/server/src/routes/api/v1/portfolios.py
Labels: none

add cSpell words
  .vscode/settings.json
Labels: type/ci-env

add requests module as requirement
  packages/server/requirements.txt
Labels: type/dependencies

add init to package
  packages/server/src/services/alpaca/__init__.py
Labels: none
