Repository adibarra/fintasy, changes with the labels that .github/labeler.yml gives for each.
All labels: type/ci-env, type/dependencies, type/docs

.github/labeler.yml:

type/ci-env:
  - '.devcontainer/**/*'
  - '.github/**/*'
  - '.vscode/**/*'
  - '**/.gitignore'
  - '**/tsconfig.json'
  - .editorconfig
  - .gitattributes
  - .nvmrc
  - eslint.config.js
  - pnpm-workspace.yaml

type/dependencies:
  - '**/package.json'
  - '**/pnpm-lock.yaml'
  - '**/requirements.txt'

type/docs:
  - 'docs/**/*'
  - '**/README.md'
  - LICENSE

add dedicated login/logout api routes
  docs/assets/swagger.yaml
Labels: type/docs

add sessions to api
  docs/assets/swagger.yaml
Labels: type/docs

begin implementing api
  .env.production.example
  .gitignore
  .vscode/settings.json
  packages/client/src/auto-imports.d.ts
  packages/client/src/composables/api.ts
  packages/client/vite.config.ts
Labels: type/ci-env

add more http codes
  docs/assets/swagger.yaml
  packages/client/src/composables/api.ts
Labels: type/docs

add dotenv for backend
  .env.production.example
  .vscode/settings.json
  packages/server/requirements.txt
  packages/server/src/config.py
  packages/server/src/main.py
Labels: type/ci-env, type/dependencies

auto create .env.production file
  .devcontainer/postStartCommand.sh
Labels: type/ci-env

misc cleanup
  packages/client/src/composables/api.ts
Labels: none

add theme toggle
  packages/client/src/components/layout/NavBar.vue
Labels: none

update theme switch
  packages/client/src/components/ThemeSwitch.vue
  packages/client/src/components/layout/NavBar.vue
Labels: none

add more icon packs
  .vscode/settings.json
  packages/client/package.json
  pnpm-lock.yaml
Labels: type/ci-env, type/dependencies

add stub for login page, add page descriptions
  packages/client/locales/en.yml
  packages/client/src/pages/dashboard/index.vue
  packages/client/src/pages/dashboard/settings.vue
  packages/client/src/pages/dashboard/trade.vue
  packages/client/src/pages/index.vue
  packages/client/src/pages/login.vue
  packages/client/src/typed-router.d.ts
Labels: none

add docs for api module
  packages/client/src/composables/api.ts
Labels: none

add tournaments to api spec
  docs/assets/swagger.yaml
  packages/client/src/composables/api.ts
Labels: type/docs

api returns uuid and token for login/create user
  docs/assets/swagger.yaml
Labels: type/docs

update client for new changes
  packages/client/src/composables/api.ts
Labels: none

Refactor client side api module
  packages/client/src/composables/api.ts
Labels: none

api POST returns same response as GET
  docs/assets/swagger.yaml
  packages/client/src/composables/api.ts
Labels: type/docs

fix inconsistency
  docs/assets/swagger.yaml
  packages/client/src/composables/api.ts
Labels: type/docs

fix var name
  packages/client/src/composables/api.ts
Labels: none

overhaul api get methods
  docs/assets/swagger.yaml
  packages/client/src/composables/api.ts
Labels: type/docs

fix examples
  docs/assets/swagger.yaml
Labels: type/docs

clean up api module
  packages/client/src/composables/api.ts
Labels: none

bump dependencies
  package.json
  packages/client/package.json
  packages/server/package.json
  pnpm-lock.yaml
Labels: type/dependencies

clean up server code
  packages/server/src/config.py
  packages/server/src/main.py
Labels: none

fix scroll area
  packages/client/src/layouts/dashboard.vue
Labels: none

fix broken md titles
  packages/client/src/components/I18nTitle.vue
  packages/client/src/pages/dashboard/help/faq.md
  packages/client/src/pages/dashboard/help/index.md
Labels: none

keep images directory
  packages/client/public/images/.gitkeep
Labels: none

clean up navbar look and feel
  packages/client/src/components/Logo.vue
  packages/client/src/components/ThemeSwitch.vue
  packages/client/src/components/layout/NavBar.vue
  packages/client/unocss.config.ts
Labels: none

install amcharts5
  .vscode/settings.json
  packages/client/package.json
  pnpm-lock.yaml
Labels: type/ci-env, type/dependencies

begin work on dashboard
  packages/client/src/components/AMChart.vue
  packages/client/src/layouts/dashboard.vue
  packages/client/src/pages/dashboard/index.vue
Labels: none

clean up navbar (again)
  packages/client/.gitignore
  packages/client/src/auto-imports.d.ts
  packages/client/src/components/layout/NavBar.vue
Labels: type/ci-env

clean up navbar (again)
  packages/client/.gitignore
  packages/client/src/auto-imports.d.ts
  packages/client/src/components/layout/NavBar.vue
Labels: type/ci-env

continue working on dashboard
  packages/client/src/components/dashboard/PortfolioAssets.vue
  packages/client/src/components/dashboard/PortfolioChart.vue
  packages/client/src/components/dashboard/TransactionHistory.vue
  packages/client/src/pages/dashboard/index.vue
Labels: none

clean up and polish
  packages/client/src/components/dashboard/PortfolioAssets.vue
  packages/client/src/components/dashboard/PortfolioChart.vue
  packages/client/src/components/dashboard/TransactionHistory.vue
  packages/client/src/pages/dashboard/index.vue
Labels: none

extend animation timers
  packages/client/src/components/dashboard/PortfolioChart.vue
Labels: none

reorganize components
  packages/client/src/components/helper/I18nTitle.vue
  packages/client/src/components/layout/Logo.vue
  packages/client/src/components/layout/ThemeSwitch.vue
Labels: none

disable zoom/pan chart, clean up logic
  packages/client/src/components/dashboard/PortfolioAssets.vue
  packages/client/src/components/dashboard/PortfolioChart.vue
  packages/client/src/components/dashboard/TransactionHistory.vue
  packages/client/src/pages/dashboard/index.vue
Labels: none

fix number of shown assets / page
  packages/client/src/components/dashboard/PortfolioAssets.vue
Labels: none

continue polishing
  packages/client/src/components/dashboard/PortfolioAssets.vue
  packages/client/src/components/dashboard/PortfolioChart.vue
  packages/client/src/components/dashboard/TransactionHistory.vue
  packages/client/src/pages/dashboard/index.vue
Labels: none

update color palette
  packages/client/src/App.vue
  packages/client/src/pages/dashboard/help/index.md
Labels: none
