Repository adibarra/fintasy, changes with the labels that .github/labeler.yml gives for each.
All labels: type/ci-env, type/dependencies, type/docs

.github/labeler.yml:

type/ci-env:
  - '.devcontainer/**/*'
  - '.github/**/*'
  - '.vscode/**/*'
  - '**/.gitignore'
  - '**/tsconfig.json'
  - .editorconfig
  - .gitattributes
  - .nvmrc
  - eslint.config.js
  - pnpm-workspace.yaml

type/dependencies:
  - '**/package.json'
  - '**/pnpm-lock.yaml'
  - '**/requirements.txt'

type/docs:
  - 'docs/**/*'
  - '**/README.md'
  - LICENSE

clean up css, create new layout for markdown
  packages/client/src/App.vue
  packages/client/src/components/dashboard/PortfolioAssets.vue
  packages/client/src/components/dashboard/PortfolioChart.vue
  packages/client/src/components/dashboard/TransactionHistory.vue
  packages/client/src/components/layout/Logo.vue
  packages/client/src/layouts/dashboard-md.vue
  packages/client/src/layouts/default.vue
  packages/client/src/pages/dashboard/help/faq.md
  packages/client/src/pages/dashboard/help/index.md
  packages/client/src/pages/dashboard/index.vue
  packages/client/unocss.config.ts
Labels: none

fix reversed expression
  packages/client/src/components/dashboard/PortfolioChart.vue
Labels: none

rename postProcess
  packages/client/src/composables/api.ts
Labels: none

refactor to improve maintainability
  packages/client/src/composables/api.ts
Labels: none

formatting
  packages/client/src/composables/api.ts
Labels: none

Fix missing response type
  packages/client/src/composables/api.ts
Labels: none

move type definitions
  packages/client/src/components/dashboard/TransactionHistory.vue
  packages/client/src/composables/api.ts
  packages/client/src/pages/dashboard/index.vue
  packages/client/src/types.ts
Labels: none

cleanup layout and display cash
  packages/client/src/components/dashboard/PortfolioAssets.vue
  packages/client/src/components/dashboard/PortfolioChart.vue
  packages/client/src/components/dashboard/TransactionHistory.vue
  packages/client/src/pages/dashboard/index.vue
Labels: none

update readme
  README.md
Labels: type/docs

improve layouts + add bg dots
  packages/client/src/layouts/dashboard-md.vue
  packages/client/src/layouts/dashboard.vue
Labels: none

improve navbar
  packages/client/src/components/layout/NavBar.vue
Labels: none

refactor assets display
  packages/client/src/components/dashboard/PortfolioAssets.vue
  packages/client/src/pages/dashboard/index.vue
Labels: none

add price to assets display
  packages/client/src/components/dashboard/PortfolioAssets.vue
Labels: none

improve mobile UX
  packages/client/src/components/layout/FooterBar.vue
  packages/client/src/layouts/dashboard.vue
Labels: none

add text-xxs
  packages/client/unocss.config.ts
Labels: none

improve dashboard layout
  packages/client/src/components/dashboard/PortfolioAssets.vue
  packages/client/src/components/dashboard/TransactionHistory.vue
  packages/client/src/components/layout/NavBar.vue
  packages/client/src/layouts/dashboard.vue
Labels: none

formatting
  packages/client/src/components/dashboard/PortfolioAssets.vue
  packages/client/src/components/dashboard/TransactionHistory.vue
Labels: none

bump dependencies
  package.json
  packages/client/package.json
  pnpm-lock.yaml
Labels: type/dependencies

fix eslint warning loop
  packages/client/src/components/dashboard/PortfolioAssets.vue
  packages/client/src/components/dashboard/TransactionHistory.vue
Labels: none

improve dashboard-md UX
  packages/client/src/layouts/dashboard-md.vue
  packages/client/src/layouts/dashboard.vue
Labels: none

fix safari/pwa bg and icons
  packages/client/index.html
  packages/client/vite.config.ts
Labels: none

add deploy workflow
  .github/workflows/deploy-image.yml
Labels: type/ci-env

begin adding deploy configs
  Dockerfile
  nginx.conf
Labels: none

fix requirements path
  Dockerfile
Labels: none

use pnpm to build
  Dockerfile
Labels: none

pnpm use lockfile
  Dockerfile
Labels: none

add script build:ci, improve dockerfile
  Dockerfile
  package.json
  packages/client/package.json
Labels: type/dependencies

update dockerfile
  Dockerfile
Labels: none

dockerfile add ignore scripts to install
  Dockerfile
Labels: none

fix dockerfile paths
  Dockerfile
Labels: none

fix image naming
  .github/workflows/deploy-image.yml
Labels: type/ci-env

update .env example
  .env.production.example
Labels: none

remove permissions section
  .github/workflows/deploy-image.yml
Labels: type/ci-env

build two images
  .github/workflows/deploy-images.yml
  Dockerfile
  Dockerfile.client
  Dockerfile.server
Labels: type/ci-env

fix namespace
  .github/workflows/deploy-images.yml
Labels: type/ci-env

fix workflow image tags
  .github/workflows/deploy-images.yml
Labels: type/ci-env

re-add permissions
  .github/workflows/deploy-images.yml
Labels: type/ci-env

fix nginx.conf
  nginx.conf
Labels: none

misc improvements
  .env.production.example
  Dockerfile.client
  Dockerfile.server
  nginx.conf
  packages/server/src/config.py
Labels: none

fix nginx
  Dockerfile.client
  nginx-conf/default.conf
  nginx-conf/nginx.conf
  nginx.conf
Labels: none
