Repository adibarra/fintasy, changes with the labels that .github/labeler.yml gives for each.
All labels: type/ci-env, type/dependencies, type/docs

.github/labeler.yml:

type/ci-env:
  - '.devcontainer/**/*'
  - '.github/**/*'
  - '.vscode/**/*'
  - '**/.gitignore'
  - '**/tsconfig.json'
  - .editorconfig
  - .gitattributes
  - .nvmrc
  - eslint.config.js
  - pnpm-workspace.yaml

type/dependencies:
  - '**/package.json'
  - '**/pnpm-lock.yaml'
  - '**/requirements.txt'

type/docs:
  - 'docs/**/*'
  - '**/README.md'
  - LICENSE

add favicon and other image assets
  packages/client/index.html
  packages/client/public/.gitkeep
  packages/client/public/apple-touch-icon.png
  packages/client/public/favicon-dark.svg
  packages/client/public/favicon.svg
  packages/client/public/pwa-192x192.png
  packages/client/public/pwa-512x512.png
  packages/client/public/safari-pinned-tab.svg
  packages/client/src/App.vue
  packages/client/src/auto-imports.d.ts
  packages/client/src/composables/dark.ts
Labels: none

update pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: type/ci-env

clean up badges
  README.md
Labels: type/docs

fix readme badges
  README.md
Labels: type/docs

fix readme badges
  README.md
Labels: type/docs

add manual install section
  README.md
Labels: type/docs

bump deps
  package.json
  packages/client/package.json
  packages/server/package.json
  pnpm-lock.yaml
Labels: type/dependencies

bump dependencies
  packages/client/package.json
  pnpm-lock.yaml
Labels: type/dependencies

bump deps
  packages/client/package.json
  packages/client/src/auto-imports.d.ts
  packages/client/src/main.ts
  packages/client/src/typed-router.d.ts
  packages/client/tsconfig.json
  pnpm-lock.yaml
Labels: type/ci-env, type/dependencies

update eslint config
  eslint.config.js
Labels: type/ci-env

add more useful extensions
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  .vscode/settings.json
Labels: type/ci-env

add git hooks
  package.json
  pnpm-lock.yaml
Labels: type/dependencies

re-enable if-newline rule
  eslint.config.js
Labels: type/ci-env

fix unocss linting
  unocss.config.ts
Labels: none

run linter
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  docs/index.md
  docs/swagger.html
  packages/client/README.md
  packages/client/index.html
  packages/client/src/App.vue
  packages/client/src/pages/404.vue
  packages/client/src/pages/dashboard.vue
  packages/client/src/pages/index.vue
  packages/client/src/pages/trade.vue
  packages/client/src/styles/main.css
Labels: type/ci-env, type/docs

add pinia store
  packages/client/package.json
  packages/client/src/modules/pinia.ts
  pnpm-lock.yaml
Labels: type/dependencies

begin implementing dashboard sidebar
  .vscode/settings.json
  packages/client/package.json
  packages/client/src/App.vue
  packages/client/src/auto-imports.d.ts
  packages/client/src/components.d.ts
  packages/client/src/components/Footer.vue
  packages/client/src/components/Header.vue
  packages/client/src/components/helper/Provider.vue
  packages/client/src/components/layout/Sidebar.vue
  packages/client/src/composables/dark.ts
  packages/client/src/layouts/dashboard.vue
  packages/client/src/layouts/default.vue
  packages/client/src/pages/dashboard.vue
  packages/client/src/stores/sidebar.ts
Labels: type/ci-env, type/dependencies

continue dashboard implementation
  .github/PULL_REQUEST_TEMPLATE.md
  .vscode/settings.json
  docs/index.md
  package.json
  packages/client/locales/en.yml
  packages/client/package.json
  packages/client/src/components.d.ts
  packages/client/src/components/Footer.vue
  packages/client/src/components/Header.vue
  packages/client/src/components/Logo.vue
  packages/client/src/components/layout/NavBar.vue
  packages/client/src/components/layout/SideBar.vue
  packages/client/src/components/layout/Sidebar.vue
  packages/client/src/layouts/dashboard.vue
  packages/client/src/pages/[...all].vue
  packages/client/src/pages/dashboard/[...all].vue
  packages/client/src/pages/dashboard/index.vue
  packages/client/src/pages/dashboard/trade.vue
  packages/client/src/pages/index.vue
  packages/client/src/typed-router.d.ts
  pnpm-lock.yaml
Labels: type/ci-env, type/dependencies, type/docs

fix navbar formatting
  packages/client/src/components/layout/NavBar.vue
Labels: none

move main css
  packages/client/src/App.vue
  packages/client/src/main.ts
  packages/client/src/styles/main.css
Labels: none

add page stubs
  packages/client/src/pages/dashboard/help.vue
  packages/client/src/pages/dashboard/index.vue
  packages/client/src/pages/dashboard/settings.vue
  packages/client/src/pages/dashboard/tournaments.vue
  packages/client/src/pages/index.vue
  packages/client/src/typed-router.d.ts
Labels: none

clean up layouts
  packages/client/src/layouts/README.md
  packages/client/src/layouts/dashboard.vue
  packages/client/src/layouts/default.vue
  packages/client/src/layouts/none.vue
  packages/client/src/pages/[...all].vue
  packages/client/src/pages/dashboard/[...all].vue
  packages/client/src/pages/dashboard/index.vue
  packages/client/src/pages/dashboard/settings.vue
  packages/client/src/pages/dashboard/tournaments.vue
  packages/client/src/pages/dashboard/trade.vue
  packages/client/src/pages/index.vue
Labels: type/docs

add stub for help docs
  .vscode/settings.json
  packages/client/package.json
  packages/client/src/App.vue
  packages/client/src/components.d.ts
  packages/client/src/pages/dashboard/help.vue
  packages/client/src/pages/dashboard/help/index.md
  packages/client/src/typed-router.d.ts
  packages/client/unocss.config.ts
  packages/client/vite.config.ts
  pnpm-lock.yaml
Labels: type/ci-env, type/dependencies

adds more examples for markdown
  packages/client/src/pages/dashboard/help/index.md
Labels: none

removes components.d.ts from git
  packages/client/.gitignore
  packages/client/src/components.d.ts
Labels: type/ci-env

add another markdown example
  packages/client/src/pages/dashboard/help/example.md
  packages/client/src/pages/dashboard/help/index.md
  packages/client/src/typed-router.d.ts
Labels: none

fix items from both menus being selected at same time
  packages/client/src/components/layout/SideBar.vue
Labels: none

update translation file format
  packages/client/locales/en.yml
  packages/client/src/pages/dashboard/help/faq.md
  packages/client/src/pages/dashboard/help/index.md
  packages/client/src/pages/dashboard/settings.vue
  packages/client/src/pages/dashboard/tournaments.vue
  packages/client/src/pages/dashboard/trade.vue
  packages/client/src/typed-router.d.ts
Labels: none

add breadcrumbs to navbar
  packages/client/src/components/layout/NavBar.vue
Labels: none

fix bug with sidebar menu items not auto-selecting
  packages/client/src/components/layout/SideBar.vue
Labels: none

add notification provider
  packages/client/src/components/helper/Provider.vue
Labels: none

add items to navbar
  packages/client/src/components/Logo.vue
  packages/client/src/components/layout/NavBar.vue
Labels: none

formatting
  packages/client/src/pages/dashboard/help/faq.md
  packages/client/src/pages/dashboard/help/index.md
  packages/client/src/pages/dashboard/index.vue
  packages/client/src/pages/dashboard/settings.vue
  packages/client/src/pages/dashboard/tournaments.vue
  packages/client/src/pages/dashboard/trade.vue
  packages/client/src/pages/index.vue
Labels: none

clean up navbar
  packages/client/locales/en.yml
  packages/client/src/components/layout/NavBar.vue
Labels: none

fix i18n-ally config
  .vscode/settings.json
  packages/client/locales/en.yml
Labels: type/ci-env

more cleanup and polishing
  .vscode/settings.json
  packages/client/package.json
  packages/client/src/components/Logo.vue
  packages/client/src/components/layout/NavBar.vue
  packages/client/src/components/layout/SideBar.vue
  packages/client/src/layouts/dashboard.vue
  pnpm-lock.yaml
Labels: type/ci-env, type/dependencies

add documentation
  packages/client/src/stores/README.md
Labels: type/docs

misc cleanup
  .gitattributes
  docs/assets/excalidraw/database.excalidraw.png
  docs/assets/excalidraw/prototypes/dashboard-desktop.excalidraw.png
  docs/assets/excalidraw/prototypes/dashboard-mobile.excalidraw.png
  docs/assets/excalidraw/templates.excalidraw.png
Labels: type/ci-env, type/docs

reorganize api spec
  docs/assets/swagger.yaml
Labels: type/docs

add bulk calls to spec
  docs/assets/swagger.yaml
Labels: type/docs
