Repository adibarra/fintasy, pull requests merged in 2024-04, with the labels that each got.

#21 Implement database service
  .vscode/settings.json
  packages/server/.gitignore
  packages/server/requirements.txt
  packages/server/src/config.py
  packages/server/src/services/database.py
  packages/server/src/services/database/__init__.py
  packages/server/src/services/database/database.py
  packages/server/src/services/database/mixins/README.md
  packages/server/src/services/database/mixins/__init__.py
  packages/server/src/services/database/mixins/meta.py
  packages/server/src/services/database/mixins/users.py
Labels: type/dependencies, type/ci-env, type/docs

#23 Add database initialization code
  packages/server/src/services/database/database.py
  packages/server/src/services/database/mixins/sessions.py
Labels: type/ci-env

#27 Integrate client and server
  Dockerfile.client
  Dockerfile.server
  package.json
  packages/client/locales/en.yml
  packages/client/locales/es.yml
  packages/client/package.json
  packages/client/src/components/dashboard/PortfolioAssets.vue
  packages/client/src/components/dashboard/PortfolioChart.vue
  packages/client/src/components/dashboard/TransactionHistory.vue
  packages/client/src/components/layout/HomeNav.vue
  packages/client/src/components/layout/LanguageSwitch.vue
  packages/client/src/components/layout/NavBar.vue
  packages/client/src/components/layout/ThemeSwitch.vue
  packages/client/src/composables/api.ts
  packages/client/src/layouts/home.vue
  packages/client/src/modules/i18n.ts
  packages/client/src/modules/nprogress.ts
  packages/client/src/modules/pinia.ts
  packages/client/src/modules/pwa.ts
  packages/client/src/pages/[...all].vue
  packages/client/src/pages/dashboard/[...all].vue
  packages/client/src/pages/dashboard/index.vue
  packages/client/src/pages/index.vue
  packages/client/src/pages/login.vue
  packages/client/src/pages/register.vue
  packages/client/src/stores/state.ts
  packages/client/src/typed-router.d.ts
  packages/client/src/types.ts
  packages/server/src/helpers/portfolio.py
  packages/server/src/helpers/quote.py
  packages/server/src/helpers/sessions.py
  packages/server/src/helpers/tournament.py
  packages/server/src/helpers/user.py
  packages/server/src/routes/api/v1/portfolios.py
  packages/server/src/routes/api/v1/quotes.py
  packages/server/src/routes/api/v1/sessions.py
  packages/server/src/routes/api/v1/tournaments.py
  packages/server/src/routes/api/v1/transactions.py
  packages/server/src/routes/api/v1/users.py
  packages/server/src/services/database/database.py
  packages/server/src/services/database/mixins/portfolios.py
  packages/server/tests/sessions_test.py
  packages/server/tests/tournaments_test.py
  pnpm-lock.yaml
Labels: type/dependencies

#28 Add polish to UI
  packages/client/src/components/base/Modal.vue
  packages/client/src/components/common/LanguageSwitch.vue
  packages/client/src/components/common/Logo.vue
  packages/client/src/components/common/ThemeSwitch.vue
  packages/client/src/components/dashboard/PortfolioAssets.vue
  packages/client/src/components/dashboard/TransactionHistory.vue
  packages/client/src/components/navigation/AddPortfolioModal.vue
  packages/client/src/components/navigation/FooterBar.vue
  packages/client/src/components/navigation/HomeNav.vue
  packages/client/src/components/navigation/NavBar.vue
  packages/client/src/components/navigation/SideBar.vue
  packages/client/src/components/settings/ChangeEmailModal.vue
  packages/client/src/components/settings/ChangePasswordModal.vue
  packages/client/src/components/settings/ChangeUsernameModal.vue
  packages/client/src/components/settings/DeleteUserModal.vue
  packages/client/src/pages/dashboard/index.vue
  packages/client/src/pages/dashboard/settings.vue
  packages/client/src/stores/state.ts
  packages/client/unocss.config.ts
  packages/server/src/main.py
  packages/server/src/routes/api/v1/users.py
  packages/server/src/services/database/database.py
Labels: package/server, package/client

#29 External API
  .vscode/settings.json
  packages/server/requirements.txt
  packages/server/src/config.py
  packages/server/src/helpers/quote.py
  packages/server/src/helpers/sessions.py
  packages/server/src/services/alpaca/__init__.py
  packages/server/src/services/alpaca/alpaca.py
  packages/server/tests/alpaca_test.py
  packages/server/tests/quote_test.py
Labels: type/dependencies, type/ci-env, package/server

#30 Add trading functionality
  .vscode/settings.json
  packages/client/src/components/dashboard/PortfolioAssets.vue
  packages/client/src/components/dashboard/PortfolioChart.vue
  packages/client/src/components/dashboard/TransactionHistory.vue
  packages/client/src/components/navigation/AddPortfolioModal.vue
  packages/client/src/components/navigation/NavBar.vue
  packages/client/src/components/settings/ChangeEmailModal.vue
  packages/client/src/components/settings/ChangePasswordModal.vue
  packages/client/src/components/settings/ChangeUsernameModal.vue
  packages/client/src/components/settings/DeleteUserModal.vue
  packages/client/src/components/trade/DataTable.vue
  packages/client/src/components/trade/DataTableRow.vue
  packages/client/src/components/trade/FilterDropdown.vue
  packages/client/src/components/trade/FilterRadios.vue
  packages/client/src/pages/dashboard/index.vue
  packages/client/src/pages/dashboard/tournaments.vue
  packages/client/src/pages/dashboard/trade.vue
  packages/client/src/stores/state.ts
  packages/server/src/main.py
  packages/server/src/routes/api/v1/quotes.py
  packages/server/src/routes/api/v1/transactions.py
  packages/server/src/services/alpaca/alpaca.py
  packages/server/src/services/database/mixins/portfolios.py
  packages/server/src/services/database/mixins/transactions.py
  pnpm-lock.yaml
Labels: type/dependencies, type/ci-env, package/server, package/client

#31 Tina tournaments
  .vscode/settings.json
  packages/client/src/components/navigation/AddPortfolioModal.vue
  packages/client/src/components/navigation/NavBar.vue
  packages/client/src/components/settings/ChangeEmailModal.vue
  packages/client/src/components/settings/ChangePasswordModal.vue
  packages/client/src/components/settings/ChangeUsernameModal.vue
  packages/client/src/components/settings/DeleteUserModal.vue
  packages/client/src/components/tournaments/TournamentFilters.vue
  packages/client/src/components/tournaments/TournamentModal.vue
  packages/client/src/components/tournaments/TournamentsList.vue
  packages/client/src/pages/dashboard/tournaments.vue
  packages/server/src/routes/api/v1/tournaments.py
Labels: package/server, package/client

#32 Removed inline-test from filters
  packages/client/src/components/tournaments/TournamentFilters.vue
Labels: package/client
